/* ########################################################################
                                Cookie Popup                                           
######################################################################## */

/* Styles for the cookie popup */
.cookie-popup {
    transition: right 0.3s ease;
    opacity: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    background: #f8f8f8;
    border-radius: 8px;
    border-top: 1px solid #ddd;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .cookie-popup {
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .cookie-popup {
        max-width: 90%;
    }
}

@media (max-width: 320px) {
    .cookie-popup {
        max-width: 100%;
    }
}

.cookie-popup.active {
    z-index: 999;
    pointer-events: auto;
    opacity: 1;
}

.cookie-popup-container {
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cookie-popup-container-text {
    color: #333;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.cookie-popup-container-btn {
    width: 200px;
    height: 45px;
    border-radius: 22.5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px;
    border: none;
    transition: all 0.3s ease;
}

.cookie-popup-container-btn:hover {
    transform: scale(1.05);
}

/* Button Container Styles */
.buttonWrapper {
    display: flex;
    justify-content: space-around; /* Adjust the spacing as needed */
    align-items: center;
    flex-wrap: wrap; /* Ensures buttons wrap on smaller screens */
    margin-top: 20px;
}

/* Button Styles */
.cbButton {
	min-height: 70px;
    margin: 5px;
    width: 45%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.72em 1em;
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    text-align: center; /* Ensure text is centered */
}

.cbPrimaryCTA {
    background: linear-gradient(45deg, #77DD77, #228B22);
    color: #fff;
    box-shadow: 0 4px 15px rgba(50, 205, 50, 0.4);
}

.cbSecondaryCTA {
    background: linear-gradient(45deg, #828282, #696969);
    color: #fff;
    box-shadow: 0 4px 15px rgba(130, 130, 130, 0.4);
}

.cbThirdCTA {
    background: linear-gradient(45deg, #00bdff, #0057B7);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 116, 255, 0.4);
}

.cbFourthCTA {
    background: linear-gradient(45deg, #0074FF, #0057B7);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 116, 255, 0.4);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .buttonWrapper {
        justify-content: center;
    }
}
.cookie-popup-container-link {
    color: #0074FF;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 10px;
}

.scrollableBannerContent {
    max-height: 380px;
    overflow-y: auto;
    text-align: justify;
}

.learnMoreContent p {
    margin: 0;
}

.cookie-configurator {
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: -1000;
    max-width: 800px;
    width: 90%;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 20px;
}

/* Show the configurator */
.cookie-configurator.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
}

/* Styles for the close button */
.close-configurator {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    background: #e1e1e1;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add a hover effect */
.close-configurator:hover {
    background: #ccc;
}

.close-configurator i {
    margin: 3px;
}

.heading1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
    color: #333;
}

.customizeCookiesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToscrollableContent {
    position: absolute; /* Change to absolute for better positioning */
    left: 10px; /* Move it more to the left */
    top: 20px;  /* Adjust top position if necessary */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    color: #0074FF; /* Change color as needed */
}

.backToscrollableContent i {
    margin-right: 5px;
}

.customizeMainContent {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.column {
    flex: 1;
    padding: 10px;
    max-width: 400px;
}

.expandableSection {
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expandableTitle {
    position: relative;
    padding-left: 25px; /* Add padding to make space for the icon */
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    font-weight: bold;
    justify-content: space-between;
}

.expandableTitle::before {
    content: "\25B6"; /* Right arrow symbol */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.expandableTitle span {
    margin-right: 10px;
}

.customizeToggleSwitch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.customizeToggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #32CD32;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.toggleBtn {
    font-size: 14px;
    color: #828282;
    margin-left: auto;
    cursor: default;
}

.shortDesc {
    display: block;
}

.longDesc {
    display: none;
    color: #666;
    margin-top: 10px;
}

.expandableSection.active .shortDesc {
    display: none;
}

.expandableSection.active .longDesc {
    display: block;
}

.expandableSection.active .expandableContent {
    display: block;
}

/* Hide expandable content by default */
.expandableContent {
    display: none;
}

.accept-customized {
    text-align: center;
	width: 100%;
}

.expandableSection.active .expandableTitle::before {
    transform: translateY(-50%) rotate(90deg); /* Rotate icon when active */
}

/* Cookie icon styles */
.cookie-icon {
    position: fixed;
    right: 20px; /* Adjust position as needed */
    bottom: 20px; /* Adjust position as needed */
    background-color: #2a2d2f;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.cookie-icon:hover {
    background-color: #2e8b57;
}

.cookie-icon i {
    font-size: 24px; /* Adjust size as needed */
}